{{myName}}

<input type="button" ng-click="change()" value="click"/>
<div ng-class="{'aaa':myName == 'tank'}"></div>
<!-- <div ng-repeat="thing in things">
{{thing}}	
<hello></hello>

<input type="button" ng-click="show()" value="show"/>


</div>
{{myName}}<br><br><br><br>
<input type="text" ng-keyup="checkPageNum($event)" ng-model="myName">

</br></br></br></br></br>
<button ng-click="getData()">Tabs</button>


<div ng-repeat="d in data | orderBy:orderByNumber(d,$index)">{{d.name + d.age}}</div> -->
<table>
	<tr>
		<td style="width:300px">
			<div class="amid2Tooltip" style="width: 220px;" >
				<input type="text" />
				<a class="btn btn-Primary relative-datepicker" style="margin-top: -20px;" ng-click="columnFilter()">ok</a>
			</div>
			
		</td>
	</tr>
</table>

<div>
<input type="checkbox" />1111111111111111
</div>


